{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'mainapp/img/page-info-bg/1.jpg' %}">
		<div class="container">
			<h2>About us</h2>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="{% static 'mainapp/img/intro.jpg' %}" alt="">
				</div>
				<div class="col-lg-6 intro-text">
					<h2>We Care About Your teeth</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum sapien nec, dictum dolor. Morbi non penatibus et magnis  volutpat magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis.</p>
					<a href="" class="site-btn">Read More</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Featured section -->
	<section class="featured-section">
		<div class="featured-bg set-bg" data-setbg="{% static 'mainapp/img/featured-bg.jpg' %}"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<div class="featured-box spad">
						<div class="feature-item">
							<i class="flaticon-008-protection"></i>
							<div class="fi-content">
								<h4>Affordable Care</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum.</p>
							</div>
						</div>
						<div class="feature-item">
							<i class="flaticon-018-dentist-1"></i>
							<div class="fi-content">
								<h4>Amazing Team</h4>
								<p>Ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum.</p>
							</div>
						</div>
						<div class="feature-item">
							<i class="flaticon-007-computer-1"></i>
							<div class="fi-content">
								<h4>The best equipment</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Featured section end -->



	<!-- Doctors section -->
	<section class="doctors-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>The Doctors</h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="doctor-item di-bg">
						<div class="di-pic set-bg" data-setbg="{% static 'mainapp/img/doctors/1.jpg' %}"></div>
						<h4>Dr James Scott</h4>
						<p>Head of the team</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3  col-sm-6">
					<div class="doctor-item">
						<div class="di-pic set-bg" data-setbg="{% static 'mainapp/img/doctors/2.jpg' %}"></div>
						<h6>Dr Tailor Smith</h6>
						<p>Ortodontist</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3  col-sm-6">
					<div class="doctor-item">
						<div class="di-pic set-bg" data-setbg="{% static 'mainapp/img/doctors/3.jpg' %}"></div>
						<h6>Dr Jane Williams</h6>
						<p>Ortodontist</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3  col-sm-6">
					<div class="doctor-item">
						<div class="di-pic set-bg" data-setbg="{% static 'mainapp/img/doctors/4.jpg' %}"></div>
						<h6>Dr Mark Smith</h6>
						<p>Ortodontist</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3  col-sm-6">
					<div class="doctor-item">
						<div class="di-pic set-bg" data-setbg="{% static 'mainapp/img/doctors/5.jpg' %}"></div>
						<h6>Dr Tailor Smith</h6>
						<p>Ortodontist</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Doctors section end -->

{% endblock %}