{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% block page %}
    <h3>Поиск</h3>
    <hr>
    <br>
    <div class="show">
        <form class="search-list" method="get">
            {{ filter.form.as_p }}
            <div>{{ filter.errors }}</div>
            <button class="btn btn-primary" type="submit">Поиск...</button>
        </form>
    </div>
        {% for clinic in filter.qs %}
            <a class="btn btn-default btn-sm" href="{{ clinic.get_absolute_url }}">
                <h5>
                    {{ clinic.name }},
                    рейтинг: {{ clinic.rating }}
                </h5>
            </a>
        {% endfor %}

    {% include 'mainapp/paginator.html' %}
    {% endblock %}
</div>
{% endblock %}