{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

	<section class="">
		{% for clinic in company %}
        <div class="content">
            <div class="con_left">
					<img src="{{clinic.photo.url}}" width="300">
            </div>
            <div class="con_mid">
				              {% for tag in clinic.tag.all %}
                  <a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
              {% endfor %}
                <h3>{{ clinic.name }}</h3>
<!--				Отображение в цикле звездочек рейтинга-->
				{% for s in stars %}
					{% if s %}
						<i class="fa fa-star"></i>
					{% endif %}
				{% endfor %}

				&nbsp;&nbsp;<span>Отзывов:&nbsp; {{ clinic.rating }}</span>

                <p>Рейтинг: {{ clinic.stars }}</p>
                <p class="" align="justify">{{ clinic.description }}</p>
            </div>
            <div class="con_right">
                <p>Цены:</p>
                <p><a href="#">Подробнее</a></p>
                <p>{{ clinic.services }}</p>
            </div>
        </div>
		{% endfor %}

        <!--Конец основного контента-->
        <div class="separator">&nbsp;
			<!--вывод списка страниц для пагинации-->
			<div align="center">
				{% for p in paginator.page_range %}
					<ul class="main-menu" style="float:inherit;">
						<li>
							<a href="?page={{ p }}">{{ p }}</a>
						</li>
					</ul>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock content%}

{% block rating %}

	<!--РЕЙТИНГ-->
	<a name="ratings"></a>
	<!--Таблица рейтингов-->
	<section class="">
        <div class="rating">
            <table class="tab_rating">
                <thead align="center">
                    <tr class="table_head">
                        <td class="sort" title="{{ message }}">Название</td>
                        <td class="sort" title="{{ message }}">Рейтинг</td>
                        <td class="sort" title="{{ message }}">Рекомендуют</td>
                        <td class="sort" title="{{ message }}">Не рекомендуют</td>
                        <td class="curcol" title="{{ message }}"><span>↑&nbsp;</span>Баллы</td>
                    </tr>
                </thead>

				{% for clinic in company %}
                <tbody align="center">
                    <tr class="tr_rating">
                        <td>
							<div class="img_rating">
								<a href="#">
									<img src="{{clinic.photo.url}}" height=50px alt="" align="left">
								</a>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>{{ clinic.name }}</span>
							</div>
                        </td>
                        <td>
                            <div class="stars tablet_hide">
								<!--Отображение в цикле звездочек рейтинга-->
								{% for s in stars %}
									{% if s %}
										<i class="fa fa-star"></i>
									{% endif %}
								{% endfor %}
                            </div>
                            <b style="display: none" class="tablet_show">5/5</b>
                        </td>
                        <td><b style="color: #00aa08">{{ clinic.rating }}</b></td>
                        <td><b style="color: #aa0000">{{ clinic.stars }}</b></td>
                        <td><b style="color: #00aa08">{{ clinic.rating }}</b></td>
                    </tr>
                </tbody>
						{% endfor %}
            </table>
        </div>

	</section>
	<!--конец таблицы рейтингов-->
{% endblock rating %}

{% block reviews %}

	<!-- Facts section -->
	<section class="facts-section set-bg" data-setbg="{% static 'mainapp/img/facts-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-003-tooth-3"></i>
					<h2>531</h2>
					<p>X-rays</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-002-toothbrush-1"></i>
					<h2>14K</h2>
					<p>Отбеливание зубов</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-030-tooth"></i>
					<h2>678</h2>
					<p>Удаления</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-023-tooth-1"></i>
					<h2>2134</h2>
					<p>Довольные клиенты</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Facts section end -->


	<a name="services"></a>
	<!-- Services section Наши услуги-->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Услуги</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-020-decay"></i>
					</div>
					<div class="service-content">
						<h4>Коронки, мосты</h4>
						<p>Современная стоматология предлагает различные варианты протезирования, позволяющие восстановить разрушение или утрату одного, двух или нескольких зубов.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-011-implants"></i>
					</div>
					<div class="service-content">
						<h4>Импланты</h4>
						<p>Имплантация – современная технология установки искусственных зубов, которая обходит по всем параметрам классическое протезирование.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-024-toothbrush"></i>
					</div>
					<div class="service-content">
						<h4>Отбеливание зубов</h4>
						<p>Отбеливание зубов – процедура, направленная на изменение цвета зубов.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-019-dentist"></i>
					</div>
					<div class="service-content">
						<h4>Чистка каналов</h4>
						<p>Чистка каналов зуба – точная процедура связанная с удалением нерва в зубе.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-001-tooth-4"></i>
					</div>
					<div class="service-content">
						<h4>Зубы мудрости</h4>
						<p>Удаление зуба мудрости это хирургическое вмешательство, в ходе которого происходит извлечение.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-029-braces"></i>
					</div>
					<div class="service-content">
						<h4>Брекеты</h4>
						<p>Брекеты – это особая ортодонтическая конструкция, применяемая для исправления прикуса различной степени сложности.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/1.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/2.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/3.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/4.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Gallery section end -->


	<!-- Отзывы 'Reviews' -->
	<a name="reviews"></a>
	<section class="testimonials-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Отзывы клиентов:</h2>

			</div>
		</div>

		<div class="testimonials-warp">
			<div class="testimonials-slider owl-carousel">
			{% for i in reviews %}
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>{{ i.description }}</p>
						<h6>{{ i.name }}</h6>
						<span>{{ i.Company }}</span>
						<p>{{ i.stars }}</p>
					</div>
					<div class="author-pic set-bg" data-setbg="{{i.Company.photo.url}}"></div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
	<!-- Отзывы 'Reviews' end -->



{% endblock %}