{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
			  <div class="mb-3 row">
				<label for="search" class="col-sm-2 col-form-label">Поиск:</label>
				<div class="col-sm-10">
				  <input type="search" class="form-control" id="inputSearch">
				</div>
			  </div>
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
	</div>
	<section>
		<p>......{{ thanks_for_review }}</p>
		{% for clinic in company %}
					<article id="{{ clinic.slug }}"></article>  <!--Якорь-->
        <div class="content">
<!--			поле фото клиник-->
            <div class="con_left">
					<img class="content" src="{{clinic.photo.url}}">
            </div>
<!--			поле вывода тегов, описание, рейтинг, оценка клиник-->
            <div class="con_mid">
				{% for tag in clinic.tag.all %}
                  <a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
              	{% endfor %}
<!--			название клиники -->
<!--			полоска раздела-->
				<hr>
                <h3><a href="{{ clinic.get_absolute_url }}">{{ clinic.name }}</a></h3>
				<hr>

<!-- 			Отображение звездочек рейтинга клиник -->
				<span>Рейтинг: {% include 'mainapp/stars.html' %}</span>
				&nbsp;&nbsp;<span>Отзывов:&nbsp; {{ clinic.rating }}</span>

<!--			Описание клиники-->
				{% autoescape off %}
                <p>{{ clinic.description | linebreaks | truncatewords:20 }}
				<a href="{{ clinic.get_absolute_url }}">читать далее</a>
				</p>
				{% endautoescape %}
            </div>

<!--			поле вывода телефона, адреса, цены, услуг-->
            <div class="con_right">
                <p class="con_service">Цены: от 500 р.</p>
                <p>
					<a href="{{ clinic.get_absolute_url }}">
					<button type="button" class="btn btn-primary">Подробнее</button>
					</a>
				</p>
				{% autoescape off %}
                <p>{{ clinic.services | linebreaks | truncatewords:20 }}
				<a href="{{ clinic.get_absolute_url }}">читать далее</a>
				</p>
				{% endautoescape %}
            </div>
        </div>

		<hr>
		{% endfor %}

<!--	Конец основного контента-->
        <div class="separator">&nbsp;
			<!--вывод списка страниц для пагинации-->
			<div class="page_site">
                {% if page_obj.has_other_pages %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %} <!--отображение стрелки влево &lt <  ...   -->
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
                                </li>
                            {% endif %}
                            {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="page-item"><span class="page-link" >{{ p }}</span></li>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}<!--обрезание по 2 ссылки-->
                                    <li class="page-item">
                                        <a href="?page={{ p }}"><span class="page-link" >{{ p }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %} <!--отображение стрелки вправо &gt ... >  -->
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Previous">
										<span aria-hidden="true">&raquo;</span>
									</a>
                                </li>
                            {% endif %}
                        </ul>
                {% endif %}
			</div>
		</div>
	</section>

{% endblock content%}

{% block rating %}

	<!--РЕЙТИНГ-->
	<a name="ratings"></a>
	<!--Таблица рейтингов-->
<h3 align="center"> Рейтинги клиник: </h3>
	<section class="">
        <div class="rating">
            <table class="tab_rating">
                <thead align="center">
                    <tr class="table_head">
                        <td class="sort" title="{{ message }}">Название</td>
                        <td class="sort" title="{{ message }}">Рейтинг</td>
                        <td class="sort" title="{{ message }}">Рекомендуют</td>
                        <td class="sort" title="{{ message }}">Не рекомендуют</td>
                        <td class="curcol" title="{{ message }}"><span>↑&nbsp;</span>Баллы</td>
                    </tr>
                </thead>

				{% for clinic in company %}
                <tbody align="center">
                    <tr class="tr_rating">
                        <td>
							<div class="img_rating">
								<a href="#{{ clinic.slug }}">
									<img src="{{clinic.photo.url}}" height=50px alt="" align="left">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									{{ clinic.name }}
								</a>
							</div>
                        </td>
                        <td>
                            <div class="rat_star">
								<!-- Отображение звездочек рейтинга клиник -->
								{% include 'mainapp/stars.html' %}
                            </div>
                            <b style="display: none" class="tablet_show">5/5</b>
                        </td>
                        <td class="rating_rate">{{ clinic.rating }}</td>
                        <td class="rating_not">{{ clinic.stars }}</td>
                        <td class="rating_rate">{{ clinic.profit }}</td>
                    </tr>
                </tbody>
						{% endfor %}
            </table>
        </div>

	</section>
	<!--конец таблицы рейтингов-->
{% endblock rating %}

{% block reviews %}

	<!-- Facts section -->
	<section class="facts-section set-bg" data-setbg="{% static 'mainapp/img/facts-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-003-tooth-3"></i>
					<h2>{{ count_company }}</h2>
					<p>Клиник в базе</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-002-toothbrush-1"></i>
					<h2>{{ count_reviews }}</h2>
					<p>Отзывов о клиниках</p>
				</div>
				{{ sitevars.0.site_stat_1 | safe }}
				{{ sitevars.0.site_stat_2 | safe }}
			</div>
		</div>
	</section>
	<!-- Facts section end -->


	<a name="services"></a>
	<!-- Services section Наши услуги-->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Услуги</h2>
			</div>
			<div class="row">
				{% for s in services %}
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						{{ s.icon | safe }}
					</div>
					<div class="service-content">
						<h4>{{ s.name }}</h4>
						<p>{{ s.description }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</section>
	<!-- Services section end -->


	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="container-fluid">
			<div class="row">
				{% for i in count_four %}
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/' %}{{ i }}.jpg" alt="">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Gallery section end -->


	<!-- Отзывы 'Reviews' -->
	<a name="reviews"></a>
	<section class="testimonials-section spad">
		<div class="container">
			<div class="section-title text-center">

				{{ sitevars.0.review_slogan | safe }}
			</div>
		</div>

		<div class="testimonials-warp">
			<div class="testimonials-slider owl-carousel">
			{% for i in reviews %}
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>{{ i.description }}</p>
						<h6>{{ i.name }}</h6>
						<a href="#{{ i.Company.slug }}">
							<span>{{ i.Company }}</span>
						</a>
						<br><br>
						<div class="rat_star">
							<!-- Отображение звездочек рейтинга клиник -->
							{% include 'mainapp/review_stars.html' %}
						</div>
					</div>
					<div class="author-pic set-bg" data-setbg="{{i.Company.photo.url}}"></div>
				</div>
			{% endfor %}
			</div>
		</div>

	</section>
	<!-- Отзывы 'Reviews' end -->


{% endblock %}