{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
                                                
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<!-- item -->
			<div class="hs-item set-bg text-white" data-setbg="{% static 'mainapp/img/slide-1.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-7">
							<h2>Love your smile</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- item -->
			<div class="hs-item set-bg text-white" data-setbg="{% static 'mainapp/img/slide-1.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-7">
							<h2>Best Dentist.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 banner-text text-white">
					<h4>Schedule your appointment for a free consultation.</h4>
					<p>*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus.</p>
				</div>
				<div class="col-lg-5 text-lg-right">
					<a href="#" class="site-btn sb-light">Read More</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner section end -->



	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<img src="{% static 'mainapp/img/about.jpg' %}" alt="">
				</div>
				<div class="col-lg-7 about-text">
					<h2>We Care About Your teeth</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum sapien nec, dictum dolor. Morbi non penatibus et magnis  volutpat magna. </p>
					<img src="{% static 'mainapp/img/awards.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->


	<!-- Facts section -->
	<section class="facts-section set-bg" data-setbg="{% static 'mainapp/img/facts-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-003-tooth-3"></i>
					<h2>531</h2>
					<p>X-rays</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-002-toothbrush-1"></i>
					<h2>14K</h2>
					<p>Tooth Brushes</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-030-tooth"></i>
					<h2>678</h2>
					<p>Extractions</p>
				</div>
				<div class="col-md-3 col-sm-6 fact">
					<i class="flaticon-023-tooth-1"></i>
					<h2>2134</h2>
					<p>Happy Pacients</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Facts section end -->



	<!-- Services section -->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-020-decay"></i>
					</div>
					<div class="service-content">
						<h4>Crowns Bridges</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-011-implants"></i>
					</div>
					<div class="service-content">
						<h4>Implants</h4>
						<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-024-toothbrush"></i>
					</div>
					<div class="service-content">
						<h4>Teeth Whitening</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-019-dentist"></i>
					</div>
					<div class="service-content">
						<h4>Root Canals</h4>
						<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-001-tooth-4"></i>
					</div>
					<div class="service-content">
						<h4>Wisdom Teeths</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<i class="flaticon-029-braces"></i>
					</div>
					<div class="service-content">
						<h4>Braces</h4>
						<p>Nullam lorem sem, viverra a rutru m sed, gravida mattis magna. Suspendisse vitae commodo.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/1.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/2.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/3.jpg' %}" alt="">
				</div>
				<div class="col-lg-3 col-sm-6 p-0">
					<img src="{% static 'mainapp/img/gallery/4.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Gallery section end -->


	<!-- Testimonials section -->
	<section class="testimonials-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Testimonials</h2>
			</div>
		</div>
		<div class="testimonials-warp">
			<div class="testimonials-slider owl-carousel">
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>Tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus.</p>
						<h6>Jessica Brown</h6>
						<span>Pacient</span>
					</div>
					<div class="author-pic set-bg" data-setbg="{% static 'mainapp/img/review/1.jpg' %}"></div>
				</div>
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus.</p>
						<h6>Jessica Brown</h6>
						<span>Pacient</span>
					</div>
					<div class="author-pic set-bg" data-setbg="{% static 'mainapp/img/review/2.jpg' %}"></div>
				</div>
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum.</p>
						<h6>Jessica Brown</h6>
						<span>Pacient</span>
					</div>
					<div class="author-pic set-bg" data-setbg="{% static 'mainapp/img/review/3.jpg' %}"></div>
				</div>
				<div class="testimonial-item">
					<div class="ts-content">
						<div class="quta">“</div>
						<p>Tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus.</p>
						<h6>Jessica Brown</h6>
						<span>Pacient</span>
					</div>
					<div class="author-pic set-bg" data-setbg="{% static 'mainapp/img/review/2.jpg' %}"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials section end -->

{% endblock %}