{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

                                                
	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'mainapp/img/page-info-bg/2.jpg' %}">
		<div class="container">
			<h2>Services</h2>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Services section -->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-020-decay"></i>
					</div>
					<div class="service-content">
						<h4>Crowns Bridges</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis.</p>
					</div>
				</div>
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-011-implants"></i>
					</div>
					<div class="service-content">
						<h4>Implants</h4>
						<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
					</div>
				</div>
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-024-toothbrush"></i>
					</div>
					<div class="service-content">
						<h4>Teeth Whitening</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
					</div>
				</div>
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-019-dentist"></i>
					</div>
					<div class="service-content">
						<h4>Root Canals</h4>
						<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
					</div>
				</div>
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-001-tooth-4"></i>
					</div>
					<div class="service-content">
						<h4>Wisdom Teeths</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
					</div>
				</div>
				<div class="col-lg-4 service">
					<div class="service-icon">
						<i class="flaticon-029-braces"></i>
					</div>
					<div class="service-content">
						<h4>Braces</h4>
						<p>Nullam lorem sem, viverra a rutru m sed, gravida mattis magna. Suspendisse vitae commodo.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Service Featured section -->
	<section class="service-featured">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 p-0 sf-box-warp">
					<div class="sf-box text-white">
						<i class="flaticon-008-protection"></i>
						<div class="sfb-content">
							<h4>Affordable Care</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, ves-tibulum.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 p-0 sf-box-warp">
					<div class="sf-box text-white">
						<i class="flaticon-018-dentist-1"></i>
						<div class="sfb-content">
							<h4>Amazing Team</h4>
							<p>Ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius na-toque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 p-0 sf-box-warp">
					<div class="sf-box text-white">
						<i class="flaticon-007-computer-1"></i>
						<div class="sfb-content">
							<h4>The best equipment</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis partu-rient montes, nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->



	<!-- Faq section -->
	<section class="faq-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>We Care About Your teeth</h2>
					</div>
					<ul class="faq-list">
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</li>
						<li>Nascetur ridiculus mus. Donec eu nulla sollicitudin, vestibulum sapien nec, dictum dolor. Morbi non penatibus et magnis  volutpat magna. Lorem ipsum dolor sit amet.</li>
						<li>Consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</li>
					</ul>
					<a href="#" class="site-btn mt-4">Read More</a>
				</div>
				<div class="col-lg-6">
					<!-- Accordions -->
					<div id="accordion" class="accordion-area faq-accordion">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Duis semper  venenatis turpis eget suscipit. </button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<img src="img/faq.jpg" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Semper venenatis turpis eget suscipit. </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="img/faq.jpg" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Duis semper venenatis turpis eget suscipit. </button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<img src="img/faq.jpg" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Faq section end -->

{% endblock %}