{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="content>">
    <article id="{{ company.slug }}"></article>  <!--Якорь-->

    <div class="media" style="width: 80%; margin: 0 auto;">
       <!-- поле фото клиник-->
                <img src="{{company.photo.url}}">
    <!--	поле вывода тегов, описание, рейтинг, оценка клиник-->
        <div class="media-body">
            {% for tag in company.tag.all %}
              <a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
    <!--			название клиники -->
    <!--			полоска раздела-->
            <hr>
            <h3>{{ company.name }}</h3>
            <hr>
    <!-- 			Отображение звездочек рейтинга клиник -->
            <span>Рейтинг: {% include 'mainapp/stars.html' %}</span>
            &nbsp;&nbsp;<span>Отзывов:&nbsp; {{ company.rating }}</span>

    <!--			Описание клиники-->
            {% autoescape off %}
            <p>{{ company.description | linebreaks }}</p>
            {% endautoescape %}

    <!--    поле вывода телефона, адреса, цены, услуг-->

            <p class="con_service">Цены: от 500 р.</p>

            {% autoescape off %}
            <p>{{ company.services | linebreaks}}</p>
            {% endautoescape %}
            </div>

    </div>
    <!--			полоска раздела-->
           <hr>
<!--Вывод отзывов о компании-->
    <section>
    <div class="separator"><h4>Отзывы о клинике: "{{ company.name }}"</h4></div>

        <div class="company_review">
            {% for i in reviews %}
                {% if i.Company.slug == company.slug %}
                    <br>
                    <div class="rat_star">
                        <!-- Отображение звездочек рейтинга клиник -->
                        {% include 'mainapp/review_stars.html' %}
                    </div>
                    <br>
            <div class="">
                    <h6>{{ i.name }}</h6><span>{{ i.time_create }}</span>
            </div>
                    <p>{{ i.description }}</p>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
        {% include 'mainapp/paginator.html' %}
    </section>
</div>

{% endblock content %}