{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="content show" xmlns="http://www.w3.org/1999/html">
    <article id="{{ company.slug }}"></article>  <!--Якорь-->

       <!-- поле фото клиник-->
    <div class="show_parent">
        <img src="{{company.photo.url}}">
        <div class="show">
            {% for p in companyphoto %}
                {% if p.is_published and company == p.Company %}
            <div class="show_photo">
                <a href="{{p.photoset.url}}" alt="{{p.description}}">
                    <img id="myImg" src="{{p.photoset.url}}"  width="50" height="50">
                </a>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- поле фото клиник-->

    <!--	поле вывода тегов, описание, рейтинг, оценка клиник-->
    <div class="media-body show_text">
        {% for tag in company.tag.all %}
          <a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
        {% endfor %}
<!--			название клиники -->
<!--раздел--><hr>
        <h3>{{ company.name }}</h3>
        <hr>
<!-- 			Отображение звездочек рейтинга клиник -->
        <span>Рейтинг: {% include 'mainapp/stars.html' %}</span>
        &nbsp;&nbsp;<span>Отзывов:&nbsp; {{ company.rating }}</span>

<!--			Описание клиники-->
        {% autoescape off %}
        <p>{{ company.description | linebreaks }}</p>
        {% endautoescape %}

<!--    поле вывода телефона, адреса, цены, услуг-->
        <a href="#price">
        <button type="button" class="btn btn-primary">Цены на услуги</button>
        </a>
        {% autoescape off %}
        <p>{{ company.services | linebreaks }}</p>
        {% endautoescape %}
    </div>

</div>

<!--Вывод цен на услуги клиники--><hr>
    <article id="price"></article>

    <div class="separator"><h4>Цены на услуги: "{{ company.name }}"</h4></div>
<div class="pr_container">
       {% for i in price %}
            {% if company == i.Company %}
                <div class="price">
                    <span class="pr_service">{{ i.Service }},</span>
                    {% if i.price_min %}
                        <span class="pr_price">Цена: от {{ i.price_min }} р.</span>
                    {% else %}
                        <span class="pr_price">Бесплатно</span>
                    {% endif %}
                    {% if i.price_max %}
                        <span class="pr_price">- до {{ i.price_max }} р.</span>
                    {% endif %}
                    {% if i.price_max %}
                        <span class="pr_unit">({{ i.unit }}),</span>
                    {% endif %}
                    {% if i.includes %}
                        <span class="pr_includes">, в услугу входит: </span>
                        <span class="pr_includes_con">{{ i.includes }}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
<!--раздел--><hr>
</div>
<!--Вывод отзывов о компании-->
    <section>
    <div class="separator"><h4>Отзывы о клинике: "{{ company.name }}"</h4></div>

        <div class="company_review">
            {% for i in reviews %}
                {% if i.Company.slug == company.slug %}
                        <br>
                    <div class="rat_star">
                        <!-- Отображение звездочек рейтинга клиник -->
                        {% include 'mainapp/review_stars.html' %}
                    </div>
                        <br>
                    <div class="">
                        <h6>{{ i.name }}</h6><span>{{ i.time_create }}</span>
                    </div>
                    <p>{{ i.description }}</p>
                        <hr>
                {% endif %}
            {% empty %}
                <p>Нет рейтинга клиник</p>
            {% endfor %}
        </div>
        {% include 'mainapp/paginator.html' %}
    </section>


{% endblock content %}